
body {
 background-color: #181a1f;
 padding-top: 100px;
 margin: 64px;
}

h1,p,a,h2,h3,h4,h5,h6,nav,div,span{
    font-family: 'Raleway', sans-serif;
    color: white;
}

img{
    border: white solid 5px;
    height: 5cm;
    width: 5cm;
}

.title-user{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 30px;
}

.vertical-line{
    height: 77px;
    width: 1px;
    background-color: #1a3785;
    border-radius:0;
    display: inline-block;
    margin-left:10px ;
    margin-right:10px ;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #1a3785;
    border-radius: 50%;
    display: inline-block;
  }

.classes{
    float: left;
}

.comment{
    float: right;
}

.class-comment{
  margin: 30px;
  padding-left: 39%;
  padding-right: 39%;
}

.history-class{
    padding-top:4% ;
}

.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: #1a3785;
    border-radius:0;
    display: inline-block;
    margin-top: 2%;
}

.data{
    display: none;
}